<aside class="sidebar-nav no-print" aria-label="Page sections">
  <div class="sidebar-nav__inner">
    <p class="sidebar-nav__heading">Contents</p>
    <ul class="sidebar-nav__list">
      <li class="sidebar-nav__item">
        <a href="#about-me"
           class="sidebar-nav__link"
           data-target="about-me">About Me</a>
      </li>
      {% for section in site.content %}
      <li class="sidebar-nav__item">
        <a href="#{{ section.title | slugify }}"
           class="sidebar-nav__link"
           data-target="{{ section.title | slugify }}">{{ section.title }}</a>
        {% if section.layout == 'list' %}
        <ul class="sidebar-nav__subs" data-parent="{{ section.title | slugify }}"></ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
  </div>
</aside>
